 .app-todo{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    width: 100%;
 }
 .task{
     display:flex;
     flex-wrap:wrap;
     flex-direction:row;
     justify-content: space-between;
     align-items: center;
     background-color: #836E66;
     margin-bottom: 15px;
     border-radius: 5px;
     padding: 0 8px;
 }
 