 .App {
  text-align: center;
} 
#Light-mode {
  background-color: whitesmoke;
}
#Custom-mode {
  background-color: salmon;
}
#Dark-mode {
  background-color: #282c34;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Navbar ul {
  display: flex;
  list-style-type: none;
  
}
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
}



